<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>

	<!--  web.xml - used as a configuration file for Java web applications -->
	
  <display-name>Archetype Created Web Application</display-name>
  
  	<!-- Dispatcher - it is the mapping for the 'front controller' all the requests first go through this servlet which route to other controllers -->
	<servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>        
    </servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
